.moreBtn{
  width: 132px;
  color: black;
  border:1px solid black;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px $primary solid;
    z-index: 10;
  }
  &:hover::after{
    border-bottom: 16px black solid;
  }
  &:hover{
    background-color: $primary;
    color: white;
  }
}



.bannerTitle{
  display: none;
  @include lg(){
    display: block;
  }
  h3, h4{
    writing-mode: vertical-lr;
  }
}
.moreBtnNoborder{
  width: 132px;
  color: black;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px $primary solid;
    z-index: 10;
  }
  &:hover::after{
    border-bottom: 16px black solid;
  }
  &:hover{
    background-color: $primary;
    color: white;
    border: 1px solid black;
    
  }
  @include lg(){
    margin-bottom: -16px;
  }
}
.rankingTitle h4{
  display: none;
  @include lg(){
    display: block;
  }
}

.rankingPic, .rankingPic05, .rankingPic06{
  height: 91px;
  width: 87px;
  img{
    object-fit: cover
  } 
 
    @include lg(){
     display: none;
    }
}

.rankingPic13, .rankingPic07 , .rankingPic08{
  height: 91px;
  width: 87px;
    img{
      object-fit: cover
    } 
    
  .moreLink{
    position: relative;
    height: 91px;
    width: 87px;
    display: none;
    &-blackBg{
      background-color: black;
      opacity: .7;
    }
    &-more{
     padding: 36px 24px;
    }
    &-triangle{
      width: 16px;
      border-left: 16px transparent solid;
      border-bottom: 16px $primary solid;
    }
  }  
 
   
}

.rankingBottom .card:hover{
  .moreLink{
    display: block;
  }
}
.moreLink{
  position: relative;
  &::after{
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px $primary solid;
    z-index: 100;
  } 
}

.ranking{
  h3{
    @include lg(){
      display: none;
    }
  }
}

.rankingBottom{
  h3{
    @include lg(){
      display: block;
    }
  }
}
.cardLink{

  &:hover{
    .btn{
      background-color: $primary;
      color: white;
      border: 1px solid black;
    }
    .triangle{
      display: block;
    }
  }
}

.rankLgPic{
    display: none;
    
  @include lg(){
    position: relative;
    display: block;
    width: 100%;
    height: 374px;
    background-image: url(../images/art04.jpg);
    background-size: cover;
    background-position: top center;
    .triangle{
      display: none;
      &::after{
        position: absolute;
        content:"";
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px black solid;
        z-index: 50;
      }
    }

    

    .btn{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      color: transparent;
    }
    .numberBox{
      width: 64px;
      height: 64px;
      background-color: #fff;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      }
 
  }  
}


.rankLgPic05{
  display: none;
  
@include lg(){
  position: relative;
  display: block;
  width: 100%;
  height: 374px;
  background-image: url(../images/art05.jpg);
  background-size: cover;
  background-position: top center;
  .triangle{
    display: none;
    &::after{
      position: absolute;
      content:"";
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px black solid;
      z-index: 50;
    }
  }

  

    .btn{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      color: transparent;
    }
    .numberBox{
      width: 64px;
      height: 64px;
      background-color: #fff;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      }

  }  
}


.rankLgPic06{
  display: none;
  
@include lg(){
  position: relative;
  display: block;
  width: 100%;
  height: 374px;
  background-image: url(../images/art06.jpg);
  background-size: cover;
  background-position: top center;
  .triangle{
    display: none;
    &::after{
      position: absolute;
      content:"";
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px black solid;
      z-index: 50;
    }
  }

  

    .btn{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      color: transparent;
    }
    .numberBox{
      width: 64px;
      height: 64px;
      background-color: #fff;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      }

  }  
}


.swiper{
  min-width: 360px;
  height: 376px;
  @include md(){
    height: 495px;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

    &-button-next, &-button-prev {
      position: unset;
    }

    .swiper-pagination {
      position: unset;
      width: auto;
        .swiper-pagination-bullet {
          background-color: $black;
          // opacity: initial;
            &-active {
              background-color: $primary;
              width: 8px;
              height: 8px;
            }
        }
    }
    
    &-buttons {
      width: 90px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 500;
      position: absolute;

      @include md(){
        bottom: 0px;
        left: 50%;
      }
      .swiper-button-next, .swiper-button-prev{
        margin-top: 0px;
        width: 8px;
        height: 8px;
        background: #000;
        z-index: 600;
      }
      
    }
    
}



.recommendWrap{
  position: relative;
  max-width: 360px;
  min-height: 376px;
  z-index: 10;
  @include md(){
    max-width: 636px;
    height: 439px;
  }
  .frame{
    position: absolute;
    bottom: 32px;
    left: 12px;
    min-width: 336px;
    width: 96px;
    z-index: 800;
    @include md(){
      width: 307px;
      left: 24px;
      opacity: .85;
    }
  }

  .picPos{
    position: absolute;
    top: 0;
    left: 0;
    width: 336px;
     h2{
      font-size: 32px;
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 100;
      @include md(){
      font-size: 80px;
      line-height: 5rem;
      }
    }
    .moreBtnPos{
      position: absolute;
      z-index: 100;
      top: 189px;
      right: 8px;
      background-color: #fff;
      @include md(){
        top: 388px;
        left: 500px;
      }
      &:hover{
        color: #fff;
        background: $primary;
      }
      
    }
  
  }      
  .pic{
    position: absolute;
    left: 12px;
    width: 336px;
    height: 232px;
    @include md(){
      width: 525px;
      height: 381px;
    }

    img{
        position: relative;
        width: 336px;
        height: 232px;
        z-index: 10;
        object-fit: cover;
        @include md(){
          width: 636px;
          height: 439px;
        }
     }
 
  }

}

.artwork{
  p{
    z-index: 300;
    font-size: 12px;
    left: 50px;
    top: 50px;
  }
  .textCast{
    z-index: 500;
    left: 50px;
    top: 75px;
  }
  .line{
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    border: #fff solid 1px;
    z-index: 200;
  }
  .bg-black{
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    opacity: .7;
    z-index: 100;
  }
  .moreBtn{
  bottom: 50px;
  right: 50px;
  z-index: 500;
  background-color: #fff;
  &:hover{
    color: #000;
    &::after{
      border-bottom: 16px $primary solid;
    }
  }
  }
  .hoverHidde{
    display: none;
  }
  @include md(){
    .card:hover{
      .hoverHidde{
        display: block;
      }  
  }
 
  }
}



.join{
  i{
    font-size: 46px;
    color: $primary;
  }
}



// .artworkHover-blackBox{
//   background: #000;
//   width: 100%;
//   height: 100%;
 
// }

// .artwork{
//   &-pic{
//     position: relative;
//     .line{
//       width: 100%;
//       height: 100%;
//       padding: 16px;
//       border: 1px solid #fff;
//     }
//   }
// }
 
//   &-MoreBtn{
//     position: absolute;
//     bottom: 32px;
//     right: 32px;
//     width: 132px;
//     border:1px solid black;
//     position: relative;
//     background: #fff;
//     &::after{
//       content:"";
//       position: absolute;
//       right: 0;
//       bottom: 0;
//       border-left: 16px transparent solid;
//       border-bottom: 16px $primary solid;
//       z-index: 10;
//     }
// }
