.navbar{

    @include lg(){
        border-bottom: 1px solid black;
    }
    
    .fa-magnifying-glass{
        font-size: 18px;
        color: black;
        @include lg(){
            font-size: 24px;
            }
    }
    .openSearch{
        @include lg(){
            display: none;
            }
    }
    .fa-bars{
        font-size: 21px;
        color: black;
        }
    
    img{
            max-width: 85px;
            @include lg(){
                max-width: 190px;
        }
    }       
    .fa-angle-left{
        font-size: 7px;
        color: black;
    }
    
    .hr1{
        border: 1px solid black;
        opacity: 1;
        @include lg(){
            display: none;
            }
    }
    .cash{
        padding: 12px 24px;
        @include lg(){
            display: none;
            }
    }
    #search{
        @include lg(){
            display: none;
            }
    }
    .lg-search{
        display: none;
        @include lg(){
            display: block;
            }
    }
}


.borderRight{
    @include lg(){
        border-right: 1px solid black;
        }
}




.form-control{
    background-color: transparent;
}

.lgNav{
    display: none;
    @include lg(){
        display: block;
        }
}

.cashIcon{
    display: none;
    @include lg(){
        display: block;
        }
    .fa-wallet{
            font-size: 24px;
       
    }

}

