<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <script src="assets/js/jQuery.js"></script>

  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 py-lg-0">
    <div class="smNav container">
      <div class="container">
        <div class="row align-items-center g-0">
          <div class="col-6 col-lg-5 px-lg-0 py-lg-5 borderRight">
            <a href="index.html"><img src="assets/images/logo.svg" alt="logo"></a>
          </div>
          <div class="col-6 col-lg-4 justify-content-end py-lg-5 px-lg-7 borderRight">
            <div class="icon d-flex align-items-center justify-content-end">
                <button class="btn openSearch p-0 border-0" type="submit">
                  <i class="fa-solid fa-magnifying-glass me-4 openSearch"></i>
                </button>
                <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa-solid fa-bars"></i>
                  <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="lg-search">
                <form class="d-flex align-items-center">
                    <input class="form-control px-lg-0 me-lg-4 border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search">
                    <button class="btn px-0" type="submit">
                      <i class="fa-solid fa-magnifying-glass fa-magnifying-glass-lg"></i>
                    </button>
                </form>
            </div>
          </div>
        <div class="col-lg-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-4 mb-lg-0 align-items-center w-100">
                  <li class="nav-item w-100 text-center">
                    <a class="nav-link fw-bold m-0 py-4 h5 text-black py-lg-6 borderRight" href="search.html">探索</a>
                  </li>
                  <hr class="hr1 w-100 m-0">
                  <li class="nav-item w-100 text-center">
                    <a class="nav-link fw-bold m-0 py-4 h5 text-black py-lg-6 borderRight" href="#">市值</a>
                  </li>
                  <div class="d-grid col-12 col-lg-4">
                    <button class="btn btn-white m-0 h5 cash" type="submit">連結錢包</button>
                    <a class="nav-link fw-bold m-0 text-end text-black cashIcon" href="#">
                        <i class="fa-solid fa-wallet"></i>
                    </a>
                  </div>
                </ul>
              </div>
        </div>

        </div>


      </div>

    </div>
    <div id="search" class="container">
      <form class="d-flex align-items-center w-100">
        <i class="fa-solid fa-angle-left pe-3"></i>
        <input class="form-control me-2 border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search">
        <button class="btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

  
    <!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 py-lg-0">
    <div class="smNav container">
      <div class="container">
        <div class="d-flex justify-content-between">
          <img src="assets/images/logo.svg" alt="logo">

          <div class="icon d-flex align-items-center">
            <button class="btn openSearch p-0 border-0" type="submit">
              <i class="fa-solid fa-magnifying-glass me-4 openSearch"></i>
            </button>
            <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars"></i>
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div id="search" class="container">
      <form class="d-flex align-items-center w-100">
        <i class="fa-solid fa-angle-left pe-3"></i>
        <input class="form-control me-2 border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search">
        <button class="btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-4 mb-lg-0 align-items-center w-100">
        <li class="nav-item w-100 text-center">
          <a class="nav-link fw-bold m-0 py-4 h5 text-black" aria-current="page" href="#">探索</a>
        </li>
        <hr class="hr1 w-100 m-0">
        <li class="nav-item w-100 text-center">
          <a class="nav-link fw-bold m-0 py-4 h5 text-black" href="#">市值</a>
        </li>
        <div class="d-grid col-12">
          <button class="btn btn-white m-0 h5 cash" type="submit">連結錢包</button>
        </div>
      </ul>
    </div> -->


    <!-- 
    <div class="lgNav w-100">
      <div class="container">
        <div class="row align-items-center g-0 w-100">
          <div class="col-5 py-5 border-end">
            <img src="assets/images/logo.svg" alt="logo">
          </div>
          <div class="col-4 px-7 py-5 border-end">
            <form class="d-flex align-items-center">
              <input class="form-control px-lg-0 me-lg-4 border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search">
              <button class="btn" type="submit">
                <i class="fa-solid fa-magnifying-glass fa-magnifying-glass-lg"></i>
              </button>
            </form>
          </div>
          <div class="col-1 py-5 border-end">
            <a class="nav-link fw-bold m-0 text-center text-black" href="#">探索</a>
          </div>
          <div class="col-1 py-5 border-end">
            <a class="nav-link fw-bold m-0 text-center text-black" href="#">市值</a>

          </div>
          <div class="col-1">
            <a class="nav-link fw-bold m-0 text-end text-black" href="#">
              <i class="fa-solid fa-wallet"></i>
            </a>
          </div>
        </div>
      </div> -->


  </nav>



  <%- contents %>

    <footer class="footer">
      <hr class="hr-sm m-0">
      <hr class="hr-bold mt-2">
      <p class="text-black text-center my-4">© ART NFT. All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

    </script>
</body>

</html>