.btn-triangle{
  background-color: white;
  border:1px solid black;
    position: relative;
    &::after {
      content:"";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px $primary;
    }
  }
  
  .btn-triangle ::after {
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px $primary;
  }
  .btn-triangle :hover::after{
    border-bottom: 16px black solid;
  }
  
  .btn-white{
    background-color: white;
    border:1px solid black;
  }
  .btn-white:hover{
    background-color: $primary;
    color: white;
  }
  
  .btn-border:hover{
    background-color: $primary;
    color: white;
    border: 1px solid black;
  }